@model TatvaBook.Entities.ViewModels.TwoFactorModel


<head>
    <link href="/css/login.css" type="text/css" rel="stylesheet">
</head>
@{
    ViewData["Title"] = "Login Two Step";
}

<h1>Login Two Step</h1>
<div class="text-danger" asp-validation-summary="All"></div>

<p>Enter your authentication code</p>

<form method="post">
    <div class="form-group">
        <label for = "code" asp-for = "TwoFactorCode">Code</label>
        <input asp-for="TwoFactorCode" class="form-control" />
    </div>
    <button class=" mt-2 btn btn-primary" type="submit">Log In</button>
</form>