@model TatvaBook.Entities.ViewModels.HomeViewModel


<!doctype html>
<html lang="en">


<header>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg ">
            <h2><b class="mx-2 Title">TatvaBook</b></h2>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="container-fluid">
                @*<partial name = "AddToFriend" />*@

                @* <input type="search" class="form-control searchbox" placeholder="Search mission....." aria-label="Search"
                    id="search_bar" name="searchQuery" value="@ViewBag.InputSearch" onkeyup="mysearchFun()">
                    </div>*@
                <form class="d-flex m-auto mx-4" id="navbarTogglerDemo03" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-warning" type="submit">Search</button>
                </form>

            </div>


            <div class="ms-auto collapse navbar-collapse" id="navbarTogglerDemo03">

                <div class="ms-auto">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#"> <i class="bi bi-house-check mx-2" style="color:white;"></i></a>
                        </li>
                        <li class="nav-item">

                            <a class="nav-link" asp-action="AddToFriends" asp-conroller="Home">
                                <i class="bi bi-people-fill mx-2" style="color:white;"></i>
                            </a>


                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="bi bi-chat-text-fill mx-2" style="color:white;"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <form method="post" asp-action="Logout" asp-controller="Login">
                                <button type="submit" class="nav-link btn btn-link py-0"
                                        style="width:auto;color: white;">
                                    Logout @User.Identity.Name
                                </button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
